<div class="jumbotron">
  <table class="table">
    <thead>
    <tr>
      <th class="text-center">CEO</th>
      <th class="text-center">Employee Level 1</th>
      <th class="text-center">Employee Level 2</th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="employee in results">
        <td class="text-center"><strong>{{employee.manager}}</strong></td>
        <td class="text-center">{{employee.empLevel1}}</td>
        <td class="text-center">{{employee.empLevel2}}</td>
      </tr>
    </tbody>
  </table>
</div>
